<div>
    <h1>Hướng dẫn cơ bản khi chơi Pro Evolation Soccer</h1>
    <p>
        Các nút cơ bản trên tay cầm bạn phải biết
        <br>
        * Tấn công:
        <br>
        - "X": Dùng để chuyền bóng với những đường truyền ngắn, sệt và chính xác cho cầu thủ xung quanh mình. Khi bạn ấn nút này bạn 
        sẽ không bị lo về khả năng chuyển lỗi hay bóng chưa đến chân cầu thủ
        <br>
        - "O": Giống như nút "X". Nó được sử dụng để thực hiện các đường truyền bóng nhưng khác khác ở chỗ là thực hiện các đường chuyền bóng dài và xa.
        Điều này yêu cầu người chơi đạt được đến trình độ medium. Nếu bạn là người mới chơi thì nên hạn chế sử dụng nút này khi tấn công
        <br>
        - "Vuông": Có lẽ đây là nút mà được các game thủ "mong muốn" tàn phá nhất. Chức năng của nút này là tung ra các cú trời giáng vào 
        phía khung thành đội bạn.
        <br>
        - "W": Khi tấn công không phải lúc nào cũng dùng "X" để chuyển đường vì có khả năng đối thủ sẽ cắt được đường chuyền đấy.
        Vậy nên nút này có chức năng dùng để thực hiện các đường bóng chọc khe qua hàng thủ đối phương. Trận đấu sẽ trở nên đầy hưng phấn và những
        sự "cáu bẳn" cho đối phương nếu bạn kết hợp nhịp nhàng giữa việc di chuyển, chọc khe và ghi bàn
        <br>
        * Phòng thủ
        <br>
        - "X": 

        
    </p>
</div>