<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn it all</title>
    {% include "meta-data.html" %}
</head>
<body class="bg-cont">
    {% if session["customer_signed_in"] == True %}
    {% include "homepage/customer-signed-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    <div class="container">
        <h1 class="text-center">Bóng rổ</h1>
        <h2>Giới thiệu</h2>
            <p>
                Bóng rổ là môn thể thao thi đấu đối kháng trực tiếp giữa 2 đội, mỗi đội có năm người trên sân. Mục đích của trận đấu là nhằm 
                ghi nhiều điểm bằng cách cố gắng đưa bóng vào rổ đối phương một cách đúng luật và hạn chế không cho đối phương ném bóng vào rổ mình. Bóng rổ là một trong những môn thể thao thịnh hành và được ưa chuộng nhất ở Hoa Kỳ, Trung Quốc, Canada, Philippines,…
                <br>
                Bóng rổ ra đời năm 1891 do tiến sĩ James Naismith (1861-1936) – một giáo viên môn giáo dục thể chất ở học viện Springfield 
                thuộc bang Massachusetts (Hoa Kỳ) sáng tạo ra.
                <br>
                Vào thời gian đó các môn thể thao, trò chơi vận động chủ yếu được thực hiện ngoài trời. Do vậy, trong suốt mùa đông các 
                sinh viên đã không thể tập luyện hay thi đấu được. Các giáo viên thể dục rất băn khoăn, lo lắng và không ngừng tìm tòi, 
                suy nghĩ để tìm ra một môn chơi mới. Bóng rổ ban đầu chỉ là trò chơi vận động cho sinh viên trong thời tiết xấu.
                <br>
                Ban đầu Naismith tính xây dựng dựa trên môn bóng đá Mỹ - American Football và lacrosse nhưng ý tưởng đó đã sớm bị loại bỏ 
                vì ông cho rằng bóng đá Mỹ quá thô bạo, còn môn kia chủ yếu dựa trên khả năng sức mạnh tốc độ, không có tính nghệ thuật.
                <br>
                Điều kiện để hình thành môn mới này là phải được chơi trong nhà thể dục, phải giới hạn bởi nhiều luật lệ nhưng đơn giản và 
                dễ hiểu, không được dùng que gậy vì dễ gây nguy hiểm và không được thô bạo hay có những động tác truy cản theo kiểu môn bóng 
                đá Mỹ. Do đó, ông đã chọn quả bóng đá và sử dụng tay để chuyền, bắt và ném.
            </p>        
            <div class="d-flex justify-content-around">
                <a href="{{ url_for('sport') }}" class="btn btn-primary"><p>Quay lại Sport</p></a>
                <a href="{{ url_for('homepage') }}" class="btn btn-primary"><p>Trang chủ</p></a>
            </div>               
    </div>
</body>
</html>