<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn it all</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% if session["user_signed_in"] == True %}
    {% include "homepage/user-signed-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    <section class="callout">
        <div class="container text-center bg-cont">
            <h2 class="mx-auto mb-5">Các khoá học theo cấp độ</h2>
                <a class="btn btn-primary btn-xl btn-lg" href="{{ url_for('course_detail')}}">Basic</a>
                <a class="btn btn-primary btn-xl btn-lg" href="{{ url_for('course_detail')}}">Advance</a>
                <a class="btn btn-primary btn-xl btn-lg" href="{{ url_for('course_detail')}}">Expert</a>
        </div>
        </section>
</body>
</html>