<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn it all</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% if session["customer_signed_in"] == True %}
    {% include "homepage/customer-signed-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    <section class="callout">
        <div class="container text-center">
            <h2 class="mx-auto mb-5">Các khoá học
                <em>theo cấp độ</em></h2>
                
                <a class="btn btn-primary btn-xl btn-lg" href="{{ url_for('course_info' ) }}">Basic</a>
                <a class="btn btn-primary btn-xl btn-lg" href="#">Advance</a>
                <a class="btn btn-primary btn-xl btn-lg" href="#">Expert</a>
        </div>
        </section>
</body>
</html>