<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Course List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="bg-cont">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand f-milu" href="#">Learn It All</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Course</a>
                    </li>
                  </ul>
                </div>
            </nav>
            <div class="card bg-dark text-center d-flex text-secondary f-milu">
                    <img class="card-img" src="../static/img/esport-bg.jpg" alt="Card image">
                    <div class="card-img-overlay align-items-center justify-content-center">
                      <h1 class="card-title  text-secondary f-sz">E-Sport</h1>
                      <p class="card-text text-light f-sz">Dù bạn ở bất kì lứa tuổi nào! Bạn có hứng khởi với bộ môn E-Sport! Nhưng lại không có bất kì kiến thức nào
                          về nó cả! Đừng lo lắng, hãy để chúng tôi giúp bạn
                      </p>
                    </div>
            </div>
            <div class="container my-4 f-sz">
                <h2 class="text-center">Hãy lựa chọn môn E-Sport mà bạn muốn trở thành 1 Streamer nào</h2>
                
                <div class="row d-flex justify-content-around my-3">
                    <div class="col-sm-4 text-center">
                        <img src="../static/img/esport1.jpg" class="rounded-circle" width="300" height="300">
                        <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">League Of Legends</a>
                    </div>
                    <div class="col-sm-4 text-center">
                            <img src="../static/img/esport2.jpg" class="rounded-circle" width="300" height="300">
                            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">PES</a>
                    </div>
                    <div class="col-sm-4 text-center">
                            <img src="../static/img/esport3.jpg" class="rounded-circle" width="300" height="300">
                            <p><a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">DOTA2</a></p>  
                    </div>
                </div>
            </div>
</body>
<footer class="text-center w-100 p-4 text-secondary font-milu">@ A Product of Team L.I.A</footer>
</html>