<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn it all</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% if session["admin_signed_in"] == True %}
    {% include "homepage/admin-signed-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    {% for order in orders %}
    <p>{{ order.customer_id.name }}</p>
    <p>{{ order.course_id.name }}</p>
    <p>{{ order.order_time }}</p>
    <a href="{{ url_for('admin_accept_orders', order_id = order.id) }}">Phê duyệt yêu cầu
    {% endfor %}
</body>
</html>