<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn it all</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% if session["user_signed_in"] == True %}
    {% include "homepage/user-signed-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    {% for course in all_courses %}
    <p>Tên khoá học: {{ course.name }}</p>
    <p>Mức độ: {{ course.level }}</p>
    <p>Học phí: {{ course.fee }}</p>
    <p>Chi tiết: {{ course.detail }}</p>
    <p>Lịch học: {{ course.schedule_time }}</p>
    <hr>
    {% endfor %}
</body>
</html>