<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn it all</title>
    {% include "meta-data.html" %}
</head>
<body>
    {% if session["admin_signed_in"] == True %}
    {% include "homepage/admin-signed-in-nav.html" %}
    {% else %}
    {% include "homepage/nav.html" %}
    {% endif %}
    <h1 class="mt-4 text-center">Thông tin người dùng</h1>
    {% for lecturer in all_lecturers %}
    <div class="mt-4 container bootstrap snippet">
            <div class="panel-body inf-content">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="" style="width:500px; height:500px;" title="" class="img-circle img-thumbnail isTooltip" src="{{ lecturer.profile_pic }}" 
                        data-original-title="Usuario"> 
                    </div>
                    <div class="col-md-6">
                        <div class="mb-0 table-responsive">
                        <table class="table table-condensed table-responsive table-user-information">
                            <tbody>
                                <tr>    
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user text-primary"></span>    
                                            Tên                                                
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ lecturer.name }}     
                                    </td>
                                </tr>
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                            Email                                                
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ lecturer.email }}  
                                    </td>
                                </tr>
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                                Chiều cao                                               
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ lecturer.height }} 
                                    </td>
                                </tr>
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                                Cân nặng                                             
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ lecturer.weight }} 
                                    </td>
                                </tr>
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                                Body Fat                                               
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ lecturer.body_fat }} 
                                    </td>
                                </tr> 
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                                Số điện thoại                                               
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ lecturer.phone_number }} 
                                    </td>
                                </tr>       
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                                Mô tả                                               
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ lecturer.description }} 
                                    </td>
                                </tr>
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                                Chuyên môn
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ lecturer.category_id.name }} 
                                    </td>
                                </tr>
                                <tr>        
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                                Phụ trách các khoá học
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        {{ lecturer.category_id.id }} 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <br>                   
                    </div>
                </div>
            </div>
    </div>
    <br>
    <div class="mb-2 container d-flex justify-content-center">
        <button class="btn btn-text-primary">
            <a href="#">Chỉnh sửa thông tin</a>  
        </button>
    </div>
        <div class="container d-flex justify-content-center">
            <button class="btn btn-text-primary">
                <a href="#">Tạm dừng giảng dạy</a>  
            </button>
    </div>
    <hr>
    {% endfor %}
</body>
</html>